.nav-menu-animation {
    position: relative;
}

.nav-menu-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.2px;
    width: 0%;
    transition: width 0.5s;
    background-color: #8F2B83;
}

.nav-menu-animation:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.2px;
    width: 100%;
    background-color: #8F2B83;
}

/* Chrome, Safari, Edge (Chromium-based) */
.scrollbar-imm {
    position: relative;
}

.scrollbar-imm::-webkit-scrollbar {
    scrollbar-width: none;
}

/* WebKit Browsers */
.dropdown-menu::-webkit-scrollbar {
    width: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background: #EF7F1A;
    border-radius: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #EF7F1A;
}

/* Firefox */
.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: #EF7F1A #f1f1f1;
}

/* Ensuring consistent styles */
.dropdown-menu ul {
    scrollbar-width: inherit;
    scrollbar-color: #EF7F1A #f1f1f1;
}

/* Applying styles to the scrollbar */
.dropdown-menu ul::-webkit-scrollbar {
    width: 8px;
}

.dropdown-menu ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.dropdown-menu ul::-webkit-scrollbar-thumb {
    background-color: #EF7F1A;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.dropdown-menu ul::-webkit-scrollbar-thumb:hover {
    background-color: #EF7F1A;
}

.xizmat-content ul {
    list-style: outside;
    margin-left: 3rem;
}